{%- comment -%}
  1. Get the product 'key' from the URL.
  2. Look up the product in `site.data.products` using that key.
  3. If a product is found, render the entire JSON-LD script for the product.
{%- endcomment -%}
{%- assign path_parts = page.url | split: '/' -%}
{%- assign product_key = path_parts[2] -%}
{%- assign product = site.data.products | where: "key", product_key | first -%}

{%- if product -%}
{%- comment -%}Prefer sale_price, but fall back to normal_price.{%- endcomment -%}
{%- assign price = product.sale_price | default: product.normal_price -%}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Product",
  "name": "{{ product.name }} Hosting",
  "description": "{{ product.description }}",
  "brand": {
    "@type": "Brand",
    "name": "CloudBreak",
    "logo": "{{ site.url }}/logo.svg"
  },
  "category": "Software > {{ product.category | replace: '-', ' ' | capitalize }} > Hosting",
  "offers": [
    {
      "@type": "Offer",
      "name": "Annual Subscription",
      "description": "{{ product.name }} hosting billed annually",
      "price": "{% if price %}{{ "%.2f" | sprintf: price }}{% endif %}",
      "priceCurrency": "USD",
      "priceValidUntil": "2025-12-31",
      "url": "{% if product.action == 'subscribe' %}{{ product.subscribe_url }}{% else %}{{ product.preorder_url }}{% endif %}",
      "availability": "{% if product.action == 'subscribe' %}https://schema.org/InStock{% else %}https://schema.org/PreOrder{% endif %}"
    }
  ],
  "image": "{{ site.url }}/products/{{ product_key }}/screenshot.png"
}
</script>
{%- endif -%}
