{% assign service = site.data.services.services[include.service_key] %}
<div class="column is-4" itemscope itemtype="https://schema.org/Product">
  <div class="box has-text-centered">
    <h3 class="title is-4" itemprop="name">{{ service.name }}</h3>
    <p itemprop="description">{{ service.description }}</p>
    {% if service.status == 'available' %}
      <a href="/{{ include.service_key }}/" class="button is-info mt-4" itemprop="url">Learn More</a>
    {% elsif service.status == 'preorder' %}
      <a href="/{{ include.service_key }}/" class="button is-info mt-4" itemprop="url">Learn More</a>
    {% elsif service.status == 'waitlist' %}
      <a href="/{{ include.service_key }}/" class="button is-info mt-4" itemprop="url">Learn More</a>
    {% endif %}
  </div>
</div>
