---
layout: default
---
<section class="hero is-medium is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">{{ page.service_name }}</h1>
      <h2 class="subtitle mt-4">Thank you for subscribing!</h2>
      <p class="m-3">Please watch your email over the next 24 hours for information about how to sign in to this service</p>
      {% if page.suggestions %}
      <p class="mt-3">{{ page.suggestions_text }}</p>
      <p class="mt-3">
        {% for suggestion in page.suggestions %}
        <a href="{{ suggestion.url }}" class="m-3 button is-info">{{ suggestion.name }}</a>
        {% endfor %}
      </p>
      {% endif %}
    </div>
  </div>
</section>
